<h1>Lock Status</h1>
<p id="lock-status">Looking up status...</p>

<script>
    $(function () {
        const socket = io();
        socket.on('lock-update', function(is_locked) {
            console.log('Updating')
            $('#lock-status').text(is_locked ? 'Locked' : 'Unlocked')
        })
    });
</script>
